extend ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
        a.navbar-brand(href='#')
            img(src="/images/p1.jpg", alt="lolol",width="30", height="30",loading="lazy")
        a.navbar-brand(href='#') Products
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/product') Home
                li.nav-item
                    a.nav-link(href='/cart') Cart 
                        span= totalBook?totalBook:0
        if user
            p(style ="color:white;")= user.name
    .row
        each val in books
            .col-6.col-md-3
                .card(style="width: 16rem;")
                    if val.coverUrl
                        img.card-img-top(src= val.coverUrl, height="200px",style="object-fit:cover;")
                    else
                        img.card-img-top(src="https://picsum.photos/200", height="200px",style="object-fit:cover;")
                    .card-body
                        h5.card-title= val.title
                        p.card-text= val.description
                        a.btn.btn-primary(href="/cart/add/" + val.id) Add to cart
    ul.pagination.justify-content-center
        -for (i = 1; i <= totalPage; i++){
            li.page-item
                a.page-link(href="?page=" + i)= i
        -}
